
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/SMS_Management/v17/.suo
*.dll
*.pdb
*.json
*.json
*.dll
*.dll
*.cache
*.txt
*.dll
*.editorconfig
*.cache
*.pdb
*.json
*.json
*.json
*.cache
*.json
*.sentinel
